html {
  body {
    .help-container {
      .help-box {
        box-shadow: 0 6px 18px -10px rgba(0, 0, 0, 0.2), 0 0 5px 0 rgba(0, 0, 0, 0.1);
        min-width: 260px;

        .panel-heading, .panel-body {
          background-color: #FFFFFF;
          color: $text-color;
        }

        .panel-heading {
          font-weight: bold;
          border-bottom: none;
        }

        .panel-body {
          padding-top: 0px;
        }
      }
    }

    .df-section {
      background-color: $df-section-background;
      padding-left: 30px;

      a.hiperlinkable {
        color: #119add;
        text-decoration: underline;
      }
    }

    .df-section-header {

      text-align: left;

      background: $df-section-background;
      padding: 0px;
      margin-top: 27px;
      margin-bottom: 15px;

      h4 {
        color: $df-headers-color;
        margin: 0;
        font-weight: bold;
        font-size: 16px;
      }
    }

    .df-section-toolbar {
      .well {
        padding: 0px;
        min-height: auto;
        float: right;
        margin-bottom: 27px;

        * {
          font-size: 14px;
          text-shadow: none;
        }

        > * {
          //float: right!important;
          //clear: both;
        }

        .btn-group {
          float: left!important;
        }

        .df-download-sdk {

          button {
            padding-left: 0px;
          }
        }

        .left-arrow, .right-arrow {
          padding-left: 0px;
          padding-right: 0px;

          i {
            width: auto;
          }
        }

      }
    }
  }
}
