@import "base_override";
@import "homepage";
@import "forms";

.btn-primary {

  &:hover {
    color: #FFF;
  }
}

.navbar {
  .navbar-nav > li > a,
  &-brand {
    text-shadow: none;
  }
}

.navbar-default {
  box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.07);
}

.navbar-fixed-top {
  .navbar-brand {
    margin-left: 0px !important;
    padding-left: 0px !important;
  }

  .navbar-right {
    margin-right: 0px !important;
  }
}

.df-menu {
  & {
    margin: 0px auto !important;
  }

  .df-menu-container {

    &.second-nav-menu-items {
      padding-left: 0px;
      padding-right: 0px;
    }

    .df-menu-icon {
      vertical-align: middle;
      color: #2e2ea3;
      padding: 10px 15px 10px 0px;
      margin: 10px auto;
    }

    .nav-pills {
      > li:first-child {
        padding-left: 13px;
        padding-right: 13px;
      }

      > li {


        a {
          color: #7490a9;
          margin: 10px auto;
        }

        &.active {
          & {
            background-color: #f7f9fa;
          }

          & > a {
            &,
            &:hover,
            &:focus {
              font-weight: bold;
              color: $nav-pills-active-link-hover-color;
              background-color: $nav-pills-active-link-hover-bg;
            }
          }
        }

        &.active:after {
          position: absolute;
          height: 3px;
          margin: 0 auto;
          content: '';
          left: 0;
          right: 0;
          width: 90%;
          color: #000;
          background-color: #5b5bd9;
          left: 0;
          bottom: 14px;
          width: 16px;
          opacity: 0.3;
          border-radius: 3px;
          border: 1px solid #5b5bd9;
          border-radius: 10px;
        }
      }
    }
  }
}

body .df-sidebar-nav {

  .nav-pills {
    li {
      & > a {
        padding-left: 0px;
      }

      & > a:hover {
        background: transparent;
        color: $link-color;
        font-weight: bold;
      }

      &.active {
        & a {
          font-weight: bold;
        }

        &:hover a{
          color: $nav-pills-active-link-hover-color;
        }
      }
    }
  }
}

.well {
  box-shadow: none;
}

.btn-default {
  background-image: none;
  background-color: transparent;
  border-color: transparent;
  opacity: 1!important;
}

$table-rows-radius: 4px;

div.panel .table, table.table, table.table.table-striped {

  & > thead, & > thead tr {
    background-color: #1d3d56;
    color: #ffffff;
    height: 38px;

    th {
      vertical-align: middle;

      & > * {
        padding-bottom: 3px;
        padding-left: 5px;
      }
    }
  }

  & > tbody {
    & > tr {

      & > td:first-child > .cell-content {
        border-top-left-radius: $table-rows-radius;
        border-bottom-left-radius: $table-rows-radius;

      }

      & > td:last-child > .cell-content {
        border-top-right-radius: $table-rows-radius;
        border-bottom-right-radius: $table-rows-radius;
      }

      td {
        padding: 0px;
        border: 0px;
        background-color: #F7F9FA;
        color: #2b5172;
        height: 58px;
        min-width: 80px;

        .cell-content {
          margin-top: 3px;
          margin-bottom: 3px;
          padding-top: 8px;
          min-height: 58px;
          background-color: #ffffff;
          display: block;
          line-height: 14px;
          word-wrap: break-word;
          width: 100%;
          height: 92%;
          box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.1);

          * {
            margin-top: 0px;
            padding-top: 0px;
            vertical-align: top;
          }

          & > * {
            display: table-cell;
            vertical-align: top;
            padding-top: 8px;
            padding-bottom: 16px;
          }

          & > *:first-child {
            padding-left: 13px;
          }

          .fa-check {
            color: #22bca8;
          }

          .fa-times {
            color: #f2526a;
          }
        }
      }
    }
  }
}

.panel {
  border: none;
  box-shadow: none;
}

.row-no-padding > [class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
