$table-rows-radius: 4px;

.table-rows-extendable {
  thead {
    tr {
      th:last-child {
        background-color: $df-section-background;
        border: none;

        .btn {
          width: 53px;
          min-width: 53px;
        }
      }
    }
  }
}

div.panel .table, table.table, table.table.table-striped {
  background-color: $df-section-background;

  & > thead, & > thead tr {
    background-color: #1d3d56;
    color: #ffffff;
    height: 38px;

    th {
      vertical-align: middle;

      & > * {
        padding-bottom: 3px;
        padding-left: 5px;
      }
      button {
        color: #ffffff;
      }
    }
  }

  & > tbody {
    & > tr {

      & > td:first-child > .cell-content {
        border-top-left-radius: $table-rows-radius;
        border-bottom-left-radius: $table-rows-radius;

      }

      & > td:last-child > .cell-content {
        border-top-right-radius: $table-rows-radius;
        border-bottom-right-radius: $table-rows-radius;
      }

      td {
        padding: 0px;
        border: 0px;
        background-color: #F7F9FA;
        color: #2b5172;
        height: 58px;
        min-width: 80px;

        .cell-content {
          margin-top: 3px;
          margin-bottom: 3px;
          padding-top: 8px;
          min-height: 58px;
          background-color: #ffffff;
          display: block;
          line-height: 14px;
          word-wrap: break-word;
          width: 100%;
          height: 92%;
          box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.1);

          * {
            margin-top: 0px;
            padding-top: 0px;
            vertical-align: top;
          }

          & > * {
            display: table-cell;
            vertical-align: top;
            padding-top: 8px;
            padding-bottom: 16px;
          }

          & > *:first-child {
            padding-left: 13px;
          }

          .fa-check {
            color: #22bca8;
          }

          .fa-times {
            color: #f2526a;
          }
        }
      }
    }
  }
}