<div class="container-fluid">
    <div style="margin-top:20px;" class="row">
        <div class="col-sm-12">
            <h3 style="margin-top:0;">DreamFactory Downloads</h3>
            <p>DreamFactory is an open source software package available under the Apache License. The source code is free to download, use, and share. You can install DreamFactory in a number of ways: using a cloud service, a local install, or on any Linux or Windows server. The links below provide access to downloads for your preferred platform.</p>
        </div>
    </div>
    <div class="row">
        <hr class="content-divider">
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h4>Cloud Installers</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 text-center">
            <a class="inline-block-anchor text-center" href="https://bitnami.com/stack/dreamfactory/cloud/oracle" data-label="Oracle Cloud" target="_blank">
                <img src="/images/downloads/oraclecloud.png" alt="Oracle Cloud"><br>Oracle Cloud
            </a>
        </div>
        <div class="col-sm-2 text-center">
            <a class="inline-block-anchor text-center" href="https://bitnami.com/stack/dreamfactory/cloud" data-label="Bitnami" target="_blank">
                <img src="/images/downloads/new_little-bitnami.png" alt="Bitnami Cloud Hosting"><br>Bitnami
            </a>
        </div>
        <div class="col-sm-2 text-center">
            <a class="inline-block-anchor text-center" href="https://hub.docker.com/r/dreamfactorysoftware/df-docker/" data-label="Docker" target="_blank">
                <img src="/images/downloads/new_little-docker.png" alt="Docker"><br>Docker
            </a>
        </div>
        <div class="col-sm-2 text-center">
            <a class="inline-block-anchor text-center" href="https://bitnami.com/stack/dreamfactory/cloud/aws" data-label="Amazon" target="_blank">
                <img src="/images/downloads/new_little-amazon.png" alt="Amazon Web Services"><br>Amazon
            </a>
        </div>
        <div class="col-sm-2 text-center">
            <a class="inline-block-anchor text-center" href="https://bitnami.com/stack/dreamfactory/cloud/azure" data-label="Azure" target="_blank">
                <img src="/images/downloads/new_little-azure.png" alt="Microsoft Azure"><br>Azure
            </a>
        </div>
        <div class="col-sm-2 text-center">
            <a class="inline-block-anchor text-center" href="https://bitnami.com/stack/dreamfactory/cloud/google" data-label="Google Cloud" target="_blank">
                <img src="/images/downloads/new_little-google.png" alt="Google Cloud Platform"><br>Google
            </a>
        </div>
        <div class="col-sm-2 text-center">
            <a class="inline-block-anchor text-center" href="https://bitnami.com/stack/dreamfactory/virtual-machine" data-label="VMWare" target="_blank">
                <img src="/images/downloads/new_little-vmware.png" alt="VMware Installer"><br>VMware
            </a>
        </div>
    </div>
    <div class="row">
        <hr class="content-divider">
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h4>Local Installers</h4>
        </div>
        <div class="col-sm-2 text-center">
            <a class="inline-block-anchor text-center" href="https://bitnami.com/stack/dreamfactory/installer#linux" data-label="Linux" target="_blank">
                <img src="/images/downloads/linux-64x64.png" alt="Linux" title="Linux"><br>Linux
            </a>
        </div>
        <div class="col-sm-2 text-center">
            <a class="inline-block-anchor text-center" href="https://bitnami.com/stack/dreamfactory/installer#osx" data-label="OS X" target="_blank">
                <img src="/images/downloads/apple-64x64v2.png" alt="OS X" title="OS X"><br>OS X
            </a>
        </div>
        <div class="col-sm-2 text-center">
            <a class="inline-block-anchor text-center" href="https://bitnami.com/stack/dreamfactory/installer#windows" data-label="Windows" target="_blank">
                <img src="/images/downloads/microsoft-64x64.png" alt="Microsoft Windows" title="Wiindows"><br>Windows
            </a>
        </div>
        <div class="col-sm-2 text-center">
            <a class="inline-block-anchor text-center" href="https://github.com/dreamfactorysoftware/dreamfactory" data-label="Github" target="_blank">
                <img src="/images/downloads/new_little-github.png" alt="GitHub Repo"><br>GitHub Source
            </a>
        </div>
    </div>
    <div class="row">
        <hr class="content-divider">
    </div>
</div>
