<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h3>Quickstart</h3>
            <p>An example application is a great way to learn how to make basic API calls to DreamFactory.</p>
            <ol>
                <li>Click on your favorite client platform below. This will take you to a GitHub repo with an example application.</li>
                <li>Follow the instructions in the README file to get the application running in your new DreamFactory instance.</li>
                <li>If you have any problems, click on the "Resources" button at left for links to documentation, product tutorials, and technical support.</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <hr class="content-divider">
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h5>Native Examples</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 text-center">
            <a href="https://github.com/dreamfactorysoftware/ios-sdk " target="_blank">
                <img src="/images/in-product/in_product_apple_lil.png " alt="iOS"><br>Objective-C
            </a>
        </div>
        <div class="col-sm-2 text-center">
            <a href="https://github.com/dreamfactorysoftware/ios-swift-sdk " target="_blank">
                <img src="/images/in-product/in_product_swift_lil.png " alt="Swift"><br>Apple Swift
            </a>
        </div>
        <div class="col-sm-2 text-center">
            <a href="https://github.com/dreamfactorysoftware/android-sdk " target="_blank">
                <img src="/images/in-product/in_product_android_lil.png " alt="Android"><br>Android Java
            </a>
        </div>
        <div class="col-sm-2 text-center">
            <a href="https://github.com/dreamfactorysoftware/.net-sdk " target="_blank">
                <img src="/images/in-product/in_product_dotnet_lil.png " alt=".Net"><br>Microsoft .NET
            </a>
        </div>
    </div>
    <div class="row">
        <hr class="content-divider">
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h5>Javascript Examples</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 text-center">
            <a href="https://github.com/dreamfactorysoftware/javascript-sdk " target="_blank">
                <img src="/images/in-product/in_product_javascript_lil.png " alt="JavaScript"><br>Javascript
            </a>
        </div>
        <div class="col-sm-2 text-center">
            <a href="https://github.com/dreamfactorysoftware/ionic-sdk" target="_blank">
                <img src="/images/in-product/in_product_ionic_lil.png " alt="ionic"><br>ionic
            </a>
        </div>
        <div class="col-sm-2 text-center">
            <a href="https://github.com/dreamfactorysoftware/titanium-sdk " target="_blank">
                <img src="/images/in-product/in_product_titanium_lil.png " alt="Titanium"><br>Titanium
            </a>
        </div>
        <div class="col-sm-2 text-center">
            <a href="https://github.com/dreamfactorysoftware/angular-sdk " target="_blank">
                <img src="/images/in-product/in_product_angular_lil.png " alt="AngularJS"><br>AngularJS
            </a>
        </div>
        <div class="col-sm-2 text-center">
            <a href="https://github.com/dreamfactorysoftware/angular2-sdk " target="_blank">
                <img src="/images/in-product/in_product_angular2_lil.png " alt="Angular 2"><br>Angular 2
            </a>
        </div>
        <div class="col-sm-2 text-center">
            <a href="https://github.com/dreamfactorysoftware/reactjs-sdk " target="_blank">
                <img src="/images/in-product/in_product_reactjs_lil.png " alt="React"><br>React
            </a>
        </div>
    </div>
    <div class="row">
        <hr class="content-divider">
    </div>



</div>
