<div id="welcomePage" class="container-fluid">
    <div class="row">
        <div class="first-banner col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0 col-lg-6 col-lg-offset-0">
            <div class="banner first-banner-container col-md-12 col-lg-10 col-lg-offset-1">
                <div>
                    <h4>
                        <i class="fa fa-comment" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;WE WANT TO HERE FROM YOU! 
                    </h4>
                    Has Dreamfactory made a difference in your organization? Are you doing something novel and interesting with our software? We’d love to add your story to the Dreamfactory.com user showcase! E-mail us at info@dreamfactory.com with your project details and we’ll add your organization name, URL, and story to our site!
                </div>
            </div>
        </div>
        <div class="first-banner col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0 col-lg-6 col-lg-offset-0">
            <div class="banner first-banner-container col-md-12 col-lg-10 col-lg-offset-1">
                <div>
                    <h4>
                        <i class="fa fa-heart" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;ATTENTION OSS USERS
                    </h4>
                    Did you know Dreamfctory’s commercial solutions include connectors for Microsoft SQL Server, Oracle, SOAP-to-REST, API limiting, ELK stack integration, and much more? Contact Us to arrange a demo with our engineering team!
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="second-banner col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0 col-lg-6 col-lg-offset-0">
            <div class="second-banner-container col-md-12 col-lg-10 col-lg-offset-1">
                <h3>Welcome to DreamFactory!</h3>

                <p>DreamFactory provides all of the backend services that you need to build great mobile, web, and IoT applications. Follow the links below to get started:</p>
                <p>

                    <div data-ng-repeat="resource in
                        [
                            {name: 'Written Tutorials',         icon: 'file-text',       link: 'http://wiki.dreamfactory.com/DreamFactory/Tutorials'},
                            {name: 'Video Tutorials',           icon: 'video-camera',    link: 'http://wiki.dreamfactory.com/DreamFactory/Videos'},
                            {name: 'Full Documentation',        icon: 'book',            link: 'http://wiki.dreamfactory.com/'},
                            {name: 'Community Forum',           icon: 'comments',        link: 'http://community.dreamfactory.com/'},
                            {name: 'Bugs and Feature Requests', icon: 'bug',             link: 'https://github.com/dreamfactorysoftware/dreamfactory/issues'},
                            {name: 'DreamFactory on Twitter',   icon: 'twitter',         link: 'https://twitter.com/dfsoftwareinc'},
                            {name: 'DreamFactory Blog',         icon: 'pencil-square-o', link: 'http://blog.dreamfactory.com/'},
                            {name: 'Contact Support',           icon: 'support',         link: 'http://www.dreamfactory.com/support'},
                        ]
                    ">
                        <div class="banner resource-link">
                            <i class="fa fa-{{resource.icon}}" aria-hidden="true"></i>
                            &nbsp;
                            <a href="{{resource.link}}" target="_blank">{{resource.name}}</a>
                        </div>
                    </div>
                </p>
            </div>
        </div>

        <div class="second-banner col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0 col-lg-6 col-lg-offset-0">
            <div class="second-banner-container col-md-12 col-lg-10 col-lg-offset-1">
                <div class="df-mac-preview">
                    <a href="https://www.youtube.com/watch?v=vbWls5aqg0A" target="_blank">
                        <div class="df-mac-preview-overlay blured"></div>
                        <div class="df-mac-preview-overlay circle">
                            <i class="fa fa-play" aria-hidden="true"></i>
                        </div>
                        <div class="df-mac-preview-overlay text">
                            <div>Watch Video</div>
                        </div>
                    </a>
                    <img src="/images/macbook-hp-df-1.png">
                </div>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="second-banner col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-12 col-md-offset-0 col-lg-12 col-lg-offset-0">
            <div class="second-banner-container grid-24 col-md-24 col-lg-22 col-lg-offset-1">
                <h4>Click on a client platform below to download a sample application and learn how to make API calls:</h4>

                <div class="row">
                    <hr class="content-divider">
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h5>Native Examples</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 text-center">
                        <a href="https://github.com/dreamfactorysoftware/ios-sdk" target="_blank">
                            <img src="/images/in-product/in_product_apple_lil.png" alt="iOS"><br>Objective-C
                        </a>
                    </div>
                    <div class="col-sm-2 text-center">
                        <a href="https://github.com/dreamfactorysoftware/ios-swift-sdk" target="_blank">
                            <img src="/images/in-product/in_product_swift_lil.png" alt="Swift"><br>Apple Swift
                        </a>
                    </div>
                    <div class="col-sm-2 text-center">
                        <a href="https://github.com/dreamfactorysoftware/android-sdk" target="_blank">
                            <img src="/images/in-product/in_product_android_lil.png" alt="Android"><br>Android Java
                        </a>
                    </div>
                    <div class="col-sm-2 text-center">
                        <a href="https://github.com/dreamfactorysoftware/.net-sdk" target="_blank">
                            <img src="/images/in-product/in_product_dotnet_lil.png" alt=".Net"><br>Microsoft .NET
                        </a>
                    </div>
                </div>
                <div class="row">
                    <hr class="content-divider">
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h5>Javascript Examples</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 text-center">
                        <a href="https://github.com/dreamfactorysoftware/javascript-sdk" target="_blank">
                            <img src="/images/in-product/in_product_javascript_lil.png" alt="JavaScript"><br>Javascript
                        </a>
                    </div>
                    <div class="col-sm-2 text-center">
                        <a href="https://github.com/dreamfactorysoftware/ionic-sdk" target="_blank">
                            <img src="/images/in-product/in_product_ionic_lil.png" alt="ionic"><br>ionic
                        </a>
                    </div>
                    <div class="col-sm-2 text-center">
                        <a href="https://github.com/dreamfactorysoftware/titanium-sdk" target="_blank">
                            <img src="/images/in-product/in_product_titanium_lil.png" alt="Titanium"><br>Titanium
                        </a>
                    </div>
                    <div class="col-sm-2 text-center">
                        <a href="https://github.com/dreamfactorysoftware/angular-sdk" target="_blank">
                            <img src="/images/in-product/in_product_angular_lil.png" alt="AngularJS"><br>AngularJS
                        </a>
                    </div>
                    <div class="col-sm-2 text-center">
                        <a href="https://github.com/dreamfactorysoftware/angular2-sdk" target="_blank">
                            <img src="/images/in-product/in_product_angular2_lil.png" alt="Angular 2"><br>Angular 2
                        </a>
                    </div>
                    <div class="col-sm-2 text-center">
                        <a href="https://github.com/dreamfactorysoftware/reactjs-sdk" target="_blank">
                            <img src="/images/in-product/in_product_reactjs_lil.png" alt="React"><br>React
                        </a>
                    </div>
                </div>
                <div class="row">
                    <hr class="content-divider">
                </div>
            </div>
        </div>
    </div>


</div>